<footer class="nk-footer bg-theme-dark">
  <!-- <div class="tc-light">
    <div class="container">
      <div class="nk-block">
        <div
          class="bg-theme-accent-alt round subscribe-wrap animated"
          data-animate="fadeInUp"
          data-delay=".1"
        >
          <div
            class="row text-center text-md-start justify-content-center align-items-center gutter-vr-25px"
          >
            <div class="col-lg-6">
              <div class="wide-auto-sm">
                <h4 class="title-sm">Don't miss out, Stay updated</h4>
                <p>
                  Sign up for updates and market news. Subscribe to our
                  newsletter and receive update about ICOs and crypto tips
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="gap-3x d-none d-lg-block"></div>
              <form
                action="form/subscribe.php"
                class="nk-form-submit"
                method="post"
              >
                <div
                  class="field-inline field-inline-s2 field-inline-s2-sm bg-white shadow-soft"
                >
                  <div class="field-wrap">
                    <input
                      class="input-solid input-solid-md required email"
                      type="text"
                      name="contact-email"
                      placeholder="Enter your email"
                    />
                    <input
                      type="text"
                      class="d-none"
                      name="form-anti-honeypot"
                      value=""
                    />
                  </div>
                  <div class="submit-wrap">
                    <button class="btn btn-md btn-grad">Subscribe</button>
                  </div>
                </div>
                <div class="form-results"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-ovm ovm-top ovm-h-50 bg-theme-alt"></div>
  </div> -->
  <div class="section section-footer section-m tc-light bg-transparent ov-h">
    <div class="container">
      <!-- Block @s -->
      <div class="nk-block block-footer">
        <div class="row">
          <div class="col">
            <div class="wgs wgs-text text-center mb-3">
              <ul class="social pdb-l justify-content-center">
                <li>
                  <a href="#"
                    ><em class="social-icon fab fa-facebook-f"></em
                  ></a>
                </li>
                <li>
                  <a href="#"><em class="social-icon fab fa-twitter"></em></a>
                </li>
                <!-- <li>
                  <a href="#"><em class="social-icon fab fa-youtube"></em></a>
                </li> -->
                <li>
                  <a href="#"><em class="social-icon fab fa-github"></em></a>
                </li>
                <!-- <li>
                  <a href="#"><em class="social-icon fab fa-bitcoin"></em></a>
                </li> -->
                <li>
                  <a href="#"><em class="social-icon fab fa-tiktok"></em></a>
                </li>
              </ul>
              <a href="./" class="footer-logo">
                <img
                  src="/static/images/logo-full-white.png"
                  srcset="/static/images/logo-full-white.png"
                  alt="logo"
                />
              </a>
              <div class="copyright-text copyright-text-s3 pdt-m">
                <p>
                  <span class="d-sm-block"
                    >Copyright &copy; 2025, Billetera Wira. Dirigida y
                    desarrollada completamente por
                    <a href="https://blockchainconsultora.com/"
                      >Blockchain Consultora</a
                    > </span
                  >Todos los derechos reservados.
                </p>
              </div>
            </div>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .block @e -->
    </div>
    <div class="nk-ovm shape-s"></div>
  </div>
</footer>
