<header
  class="nk-header page-header is-transparent is-sticky is-shrink is-dark"
  id="header"
>
  <!-- Header @s -->
  <div class="header-main">
    <div class="header-container container">
      <div class="header-wrap">
        <!-- Logo @s -->
        <div
          class="header-logo logo animated"
          data-animate="fadeInDown"
          data-delay=".65"
        >
          <a href="./" class="logo-link">
            <img
              class="logo-dark"
              src="/static/images/logo.png"
              srcset="/static/images/logo2x.png 2x"
              alt="logo"
            />
            <img
              class="logo-light"
              src="/static/images/logo-full-white.png"
              srcset="/static/images/logo-full-white2x.png 2x"
              alt="logo"
            />
          </a>
        </div>
        <!-- Menu Toogle @s -->
        <div class="header-nav-toggle">
          <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
            <div class="toggle-line">
              <span></span>
            </div>
          </a>
        </div>
        <!-- Menu @s -->
        <div class="header-navbar header-navbar-s1">
          <nav class="header-menu" id="header-menu">
            <ul
              class="menu animated remove-animation"
              data-animate="fadeInDown"
              data-delay=".75"
            >
              <li class="menu-item">
                <a class="menu-link nav-link" href="#home">Inicio</a>
              </li>
              <li class="menu-item">
                <a class="menu-link nav-link" href="#features"
                  >Características</a
                >
              </li>
              <li class="menu-item">
                <a class="menu-link nav-link" href="#techs">Tecnologías</a>
              </li>
              <!-- <li class="menu-item">
                <a class="menu-link nav-link" href="#token">Token Sale</a>
              </li> -->
              <li class="menu-item">
                <a class="menu-link nav-link" href="#roadmap">Roadmap</a>
              </li>
              <li class="menu-item">
                <a class="menu-link nav-link" href="#team">Team</a>
              </li>
              <!-- <li class="menu-item">
                <a class="menu-link nav-link" href="#faqs">Faqs</a>
              </li>
              <li class="menu-item">
                <a class="menu-link nav-link" href="#contact">Contact</a>
              </li> -->
            </ul>
            <ul
              class="menu-btns menu-btns-s2 align-items-center animated remove-animation"
              data-animate="fadeInDown"
              data-delay=".85"
            >
              <li class="language-switcher language-switcher-s4 toggle-wrap">
                <a class="toggle-tigger" href="#">Español</a>
                <ul
                  class="toggle-class toggle-drop toggle-drop-left drop-list drop-list-sm"
                >
                  <li><a href="#">English</a></li>
                  <!-- <li><a href="#">Chinese</a></li>
                  <li><a href="#">Hindi</a></li> -->
                </ul>
              </li>
              <!-- <li>
                <a
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#register-popup"
                  class="btn btn-md btn-grad btn-grad-alt no-change"
                  ><span>Join Our Wishlist</span></a
                >
              </li> -->
            </ul>
          </nav>
        </div>
        <!-- .header-navbar @e -->
      </div>
    </div>
  </div>
  <!-- .header-main @e -->
  {% include "components/body/others/banner.html" %}
</header>
