{% extends "base.html" %}

{% block title %}{{ t.page_title }}{% endblock %}

{% block content %}
<main class="nk-pages bg-transparent">
  {% include "components/body/others/whatIs.html" %} 
  {% include "components/body/others/features.html" %} 
  {# {% include "components/body/others/tokenSale.html" %}  #}
  {% include "components/body/others/roadmap.html" %} 
   {% include "components/body/others/app.html" %}  
   {% include "components/body/others/team.html" %}  
   {#{% include "components/body/others/faqs.html" %}  #} 
   {#{% include "components/body/others/contact.html" %} #} 
   {#{% include "components/body/others/partners.html" %}#}  

</main>
{% endblock %}
