<div class="header-banner bg-theme-alt">
  <div class="nk-banner bg-grad-special">
    <div class="banner banner-fs banner-single bg-grad-special-alt tc-light">
      <div class="banner-wrap mt-auto">
        <div class="container">
          <div
            class="row align-items-center justify-content-center justify-content-lg-between"
          >
            <div
              class="col-lg-5 order-lg-last animated"
              data-animate="fadeInUp"
              data-delay="1.25"
            >
              <div class="banner-gfx banner-gfx-ovfix banner-gfx-re-s5">
                <img src="/static/images/header/main_image.png" alt="header" />
              </div>
              <!-- <div class="abs-center w-100 index-9">
                <div
                  class="token-status token-status-s5 no-bd round animated"
                  data-animate="fadeInUp"
                  data-delay="1.35"
                >
                  <h4 class="title title-sm">PRE SALE STARTING IN</h4>
                  <div
                    class="countdown-s3 countdown-s4 countdown"
                    data-date="2023/04/27"
                  ></div>
                  <div
                    class="progress-wrap progress-wrap-point progress-wrap-point-s1"
                  >
                    <div
                      class="progress-bar progress-bar-sm progress-bar-s3 round-sm"
                    >
                      <div
                        class="progress-percent progress-percent-s3 bg-accent"
                        data-percent="75"
                        style="width: 75%"
                      ></div>
                      <div
                        class="progress-point progress-point-s1"
                        data-point="20"
                      >
                        Pre Sale
                      </div>
                      <div
                        class="progress-point progress-point-s1"
                        data-point="45"
                      >
                        Soft Cap
                      </div>
                      <div
                        class="progress-point progress-point-s1"
                        data-point="75"
                      >
                        Bonus
                      </div>
                    </div>
                  </div>
                  <div class="token-action">
                    <a class="btn btn-secondary" href="#"
                      >REGISTER &amp; BUY TOKEN NOW</a
                    >
                  </div>
                </div>
              </div> -->
            </div>
            <!-- .col -->
            <div class="col-lg-6 text-center text-lg-start">
              <div class="banner-caption cpn tc-light">
                <div class="cpn-head">
                  <h1
                    class="title title-xl-2 title-lg title-semibold animated"
                    data-animate="fadeInUp"
                    data-delay="1.35"
                  >
                    Tu Voto Decide
                  </h1>
                </div>
                <div class="cpn-text">
                  <p
                    class="lead-s2 animated"
                    data-animate="fadeInUp"
                    data-delay="1.45"
                  >
                    Una app que revoluciona el Control Electoral con Blockchain
                  </p>
                </div>
                <div class="cpn-action">
                  <ul
                    class="cpn-links animated"
                    data-animate="fadeInUp"
                    data-delay="1.55"
                  >
                    <li>
                      <a
                        target="_blank"
                        href="https://play.google.com/store/apps/details?id=com.tuvotodecide"
                        class="btn-download google-play"
                        ><img src="/static/images/google-play.png" alt="img"
                      /></a>
                    </li>
                    <!-- <li>
                      <a href="#" class="btn-download app-store"
                        ><img src="/static/images/apps-store.png" alt="img"
                      /></a>
                    </li> -->

                    <li style="position: relative">
                      <a
                        href="https://www.tiktok.com/@rickportaciones/video/7509263312224390405"
                        class="nk-block-video-play video-popup btn-play-wrap btn-play-wrap-s2 ms-3 mt-1"
                      >
                        <div class="btn-play btn-play-sm btn-play-s2">
                          <em class="btn-play-icon"></em>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
      </div>
      <div class="nk-block mt-auto pdb-r">
        <div class="container">
          <ul
            class="partner-list-s3 row align-items-center justify-content-center"
          >
            <li class="col-12 col-md-2 text-center text-md-start">
              <h6
                class="title title-xs tc-primary mb-md-0 mb-4 animated"
                data-animate="fadeInUp"
                data-delay="1.65"
              >
                Socios:
              </h6>
            </li>
            <li
              class="col-4 col-md-2 animated"
              data-animate="fadeInUp"
              data-delay="1.7"
            >
              <a target="_blank" href="https://asoblockchainbolivia.org/">
                <img
                  class="partner"
                  src="/static/images/partners/bn_asoblockchain.png"
                  alt="Asoblockchain Bolivia"
                />
              </a>
            </li>
            <li
              class="col-4 col-md-2 animated"
              data-animate="fadeInUp"
              data-delay="1.75"
            >
              <a target="_blank" href="https://blockchainconsultora.com/">
                <img
                  class="partner"
                  src="/static/images/partners/bn_blockcon.png"
                  alt="partner"
                />
              </a>
            </li>

            <li
              class="col-4 col-md-2 animated"
              data-animate="fadeInUp"
              data-delay="1.85"
            >
              <a href="#">
                <img
                  src="/static/images/partners/d-xs-light.png"
                  alt="partner"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .block @e -->
      <div class="nk-ovm shape-u shape-contain shape-left-top"></div>
      <!-- Place Particle Js -->
      <div
        id="particles-bg"
        class="particles-container particles-bg"
        data-pt-base="#00c0fa"
        data-pt-base-op=".3"
        data-pt-line="#2b56f5"
        data-pt-line-op=".5"
        data-pt-shape="#00c0fa"
        data-pt-shape-op=".2"
      ></div>
    </div>
  </div>
  <!-- .nk-banner -->
</div>
