<div class="header-main">
  <div class="header-container container">
    <div class="header-wrap">
      <!-- Logo @s -->
      <div
        class="header-logo header-logo-ls logo animated"
        data-animate="fadeInDown"
        data-delay=".65"
      >
        <a href="./" class="logo-link">
          <img
            class="logo-dark"
            src="/static/images/logo.png"
            srcset="/static/images/logo2x.png 2x"
            alt="logo"
          />
          <img
            class="logo-light"
            src="/static/images/logo-white.png"
            srcset="/static/images/logo-white.png 2x"
            alt="logo"
          />
        </a>
        <div class="language-switcher language-switcher-s3 toggle-wrap">
          <a class="toggle-tigger" href="#">Es</a>
          <ul
            class="toggle-class toggle-drop text-center drop-list drop-list-xs"
          >
            <li><a href="#">Esp</a></li>
            <li><a href="#">Eng</a></li>
          </ul>
        </div>
      </div>
      <!-- Menu Toogle @s -->
      <div class="header-nav-toggle">
        <a href="#" class="navbar-toggle" data-menu-toggle="example-menu-04">
          <div class="toggle-line">
            <span></span>
          </div>
        </a>
      </div>
      <!-- Menu @s -->
      <div class="header-navbar header-navbar-s3">
        <nav class="header-menu justify-content-between" id="example-menu-04">
          <ul
            class="menu menu-s2 animated"
            data-animate="fadeInDown"
            data-delay=".75"
          >
            <li class="menu-item">
              <a class="menu-link nav-link" href="#home">Inicio</a>
            </li>
            <li class="menu-item">
              <a class="menu-link nav-link" href="#how">¿Cómo funciona?</a>
            </li>
            <li class="menu-item">
              <a class="menu-link nav-link" href="#features">Características</a>
            </li>
            <li class="menu-item">
              <a class="menu-link nav-link" href="#roadmap">Roadmap</a>
            </li>
            <li class="menu-item">
              <a class="menu-link nav-link" href="#benefits">Beneficios</a>
            </li>
          </ul>
          <ul
            class="menu-btns animated"
            data-animate="fadeInDown"
            data-delay=".85"
          >
            <li>
              <a
                href="https://play.google.com/store/apps/details?id=com.tuvotodecide"
                target="_blank"
                class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme-dark-alt"
                ><span>Descargar</span></a
              >
            </li>
            <!-- <li>
              <a
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#login-popup"
                class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme-dark-alt"
                ><span>Log In</span></a
              >
            </li> -->
          </ul>
        </nav>
      </div>
      <!-- .header-navbar @e -->
    </div>
  </div>
</div>
