<!DOCTYPE html>
<html lang="{{ lang }}" class="js">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="BlockchainConsultora.com" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Aplicación boliviana de control electoral con blockchain"
    />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/static/images/favicon.png" />
    <!-- Site Title  -->
    <title>Tu Voto Decide | {{ page_title }}</title>
    {% for pair in alt_links %}
    <link rel="alternate" hreflang="{{ pair.0 }}" href="{{ pair.1 }}" />
    {% endfor %}

    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="/static/css/vendor.bundle.css?ver=210" />
    <link rel="stylesheet" href="/static/css/style-azure.css?ver=210" />
    <!-- Extra CSS -->
    <link rel="stylesheet" href="/static/css/theme.css?ver=210" />

    <!-- Additional CSS -->
    {% if extra_css %} {% for sheet in extra_css %}
    <link rel="stylesheet" href="{{ sheet }}" />
    {% endfor %} {% endif %} {% block head_extra %}{% endblock %}
  </head>
  <body class="nk-body body-wider mode-onepage">
    <div class="nk-wrap">
      <!-- optional header -->
      {% if show_header %} {% include "components/common/header.html" %} {%
      endif %}

      <!-- main content -->
      {% block content %}{% endblock %}

      <!-- footer -->
      {% include "components/common/footer.html" %}
    </div>

    <!-- JS common -->
    <!-- Preloader -->
    <div class="preloader"><span class="spinner spinner-round"></span></div>
    <!-- JavaScript -->
    <script src="/static/js/jquery.bundle.js?ver=210"></script>
    <script src="/static/js/scripts.js?ver=210"></script>
    <script src="/static/js/charts.js?ver=210"></script>

    <!-- JS additional -->
    {% if extra_js %} {% for script in extra_js %}
    <script src="{{ script }}"></script>
    {% endfor %} {% endif %} {% block js_extra %}{% endblock %}
  </body>
</html>
