<div class="nk-block nk-block-features-s2">
  <div class="row align-items-center gutter-vr-30px">
    <div class="col-md-6">
      <div class="gfx animated" data-animate="fadeInUp" data-delay=".1">
        <img src="/static/images/lungwort/wira-hand.png" alt="gfx" />
      </div>
    </div>
    <!-- .col -->
    <div class="col-md-6">
      <!-- Section Head @s -->
      <div class="nk-block-text">
        <h6
          class="title title-xs title-s1 tc-primary animated"
          data-animate="fadeInUp"
          data-delay=".2"
        >
          Billetera 100% Blockchain
        </h6>
        <h2
          class="title title-semibold animated"
          data-animate="fadeInUp"
          data-delay=".3"
        >
          Con la seguridad de blockchain y la facilidad de las apps
          tradicionales.
        </h2>
        <p class="lead animated" data-animate="fadeInUp" data-delay=".4">
          Wira Wallet es una aplicación que te da el control absoluto de tu
          dinero digital.
        </p>
        <p class="animated" data-animate="fadeInUp" data-delay=".5">
          Nadie más puede congelar tus fondos ni acceder a ellos: ni bancos, ni
          gobiernos, ni siquiera los creadores de la app. Además, la gestión de
          comisiones y la conexión entre distintas redes funciona
          automáticamente, sin que tengas que preocuparte por configurar nada ni
          entender términos técnicos.
        </p>
        <p class="animated" data-animate="fadeInUp" data-delay=".6">
          Todo sucede en segundo plano: pagas y cobras sin sorpresas, con la
          misma sencillez con la que abres cualquier otra aplicación en tu
          teléfono.
        </p>
      </div>
    </div>
    <!-- .col -->
  </div>
  <!-- .row -->
</div>
