<div class="nk-block nk-block-features-s2">
  <div class="row align-items-center flex-row-reverse gutter-vr-30px">
    <div class="col-md-6">
      <div class="gfx animated" data-animate="fadeInUp" data-delay=".1">
        <img src="/static/images/lungwort/gfx-n.png" alt="gfx" />
      </div>
    </div>
    <!-- .col -->
    <div class="col-md-6">
      <!-- Section Head @s -->
      <div class="nk-block-text">
        <h6
          class="title title-xs title-s1 tc-primary animated"
          data-animate="fadeInUp"
          data-delay=".2"
        >
          Mejora tus ventas
        </h6>
        <h2
          class="title title-semibold animated"
          data-animate="fadeInUp"
          data-delay=".3"
        >
          Recibe en bolivianos, cobra en USDT
        </h2>
        <p class="lead animated" data-animate="fadeInUp" data-delay=".4">
          Coloca tu QR de Wira Wallet y tus compradores te pagan en bolivianos,
          desde cualquier aplicación nacional.
        </p>
        <p class="animated" data-animate="fadeInUp" data-delay=".5">
          Tú recibirás Dólares Digitales (USDT) al instante y sin conversiones
          manuales, y cualquier momento puedes cambiar esos USDT por efectiivo,
          virtualmente o en cualquier otra tienda.
        </p>
        <p class="animated" data-animate="fadeInUp" data-delay=".6">
          También puedes pagar o cobrar con tus dólares digitales (USDT o USDC).
        </p>
      </div>
    </div>
    <!-- .col -->
  </div>
  <!-- .row -->
</div>
