<div class="nk-block nk-block-features-s2">
  <div class="row align-items-center gutter-vr-30px">
    <div class="col-md-6">
      <div class="gfx animated" data-animate="fadeInUp" data-delay=".1">
        <img src="/static/images/lungwort/gfx-m.png" alt="gfx" />
      </div>
    </div>
    <!-- .col -->
    <div class="col-md-6">
      <!-- Section Head @s -->
      <div class="nk-block-text">
        <h6
          class="title title-xs title-s1 tc-primary animated"
          data-animate="fadeInUp"
          data-delay=".2"
        >
          REMESAS
        </h6>
        <h2
          class="title title-semibold animated"
          data-animate="fadeInUp"
          data-delay=".3"
        >
          Reciba dólares digitales y cámbielas en su tienda de barrio
        </h2>
        <p class="lead animated" data-animate="fadeInUp" data-delay=".4">
          Comparte tu QR con familiares o clientes en el exterior, recibes USDT,
          USDC o cualquier otra cripto.
        </p>
        <p class="animated" data-animate="fadeInUp" data-delay=".4">
          Luego, intercámbialos en tu tienda favorita o guárdalos como dólar
          digital, siempre al mejor tipo de cambio.
        </p>
      </div>
    </div>
    <!-- .col -->
  </div>
  <!-- .row -->
</div>
