<div class="nk-block nk-block-features-s2">
  <div class="row align-items-center flex-row-reverse gutter-vr-30px">
    <div class="col-md-6">
      <div class="gfx animated" data-animate="fadeInUp" data-delay=".1">
        <img src="/static/images/lungwort/gfx-l.png" alt="gfx" />
      </div>
    </div>
    <!-- .col -->
    <div class="col-md-6">
      <!-- Section Head @s -->
      <div class="nk-block-text">
        <h6
          class="title title-xs title-s1 tc-primary animated"
          data-animate="fadeInUp"
          data-delay=".2"
        >
          Explora nuevas oportunidades
        </h6>
        <h2
          class="title title-semibold animated"
          data-animate="fadeInUp"
          data-delay=".3"
        >
          Sácale partido a la blockchain
        </h2>
        <p class="animated" data-animate="fadeInUp" data-delay=".4">
          Participa directamente en la industria de la blockchain.
        </p>
        <p class="animated" data-animate="fadeInUp" data-delay=".5">
          Construye reputación inmutable como validador de oráculos, recibe NFTs
          de eventos culturales
        </p>
        <p class="animated" data-animate="fadeInUp" data-delay=".6">
          Accede a productos verificados y atractivos de las finanzas
          descentralizadas.
        </p>
      </div>
    </div>
    <!-- .col -->
  </div>
  <!-- .row -->
</div>
