<section class="section bg-white pb-0 ov-h" id="benefits">
  <div class="container">
    <div class="section-head section-head-s3 wide-auto-sm text-center">
      <h6
        class="title title-xs title-xs-s3 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        Aplicación
      </h6>
      <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">
        Beneficios por participar
      </h2>
      <p class="animated" data-animate="fadeInUp" data-delay=".3">
        Desde el momento de registrarte adquieres beneficios!
      </p>
    </div>
    <!-- Block @s -->
    <div class="nk-block nk-block-text-wrap">
      <div class="row align-items-center justify-content-center gutter-vr-40px">
        <div class="col-md-6 col-sm-9">
          <div class="nk-block-text pdb-l">
            <p class="animated" data-animate="fadeInUp" data-delay=".4">
              La aplicación de control electoral forma parte del ecosistema de
              identidad digital de la aplicación Wira Wallet, por lo que al
              usarla ya adquieres algunos beneficios.
            </p>
            <ul class="list list-dot pdb-r">
              <li class="animated" data-animate="fadeInUp" data-delay=".45">
                Adquieres identidad digital soberana, con la cual firmar en
                otros procesos.
              </li>
              <li class="animated" data-animate="fadeInUp" data-delay=".5">
                Al obtener capturas de las actas, adquieres un NFT como
                certificado de tu participación.
              </li>
              <li class="animated" data-animate="fadeInUp" data-delay=".55">
                Si atestiguas con veracidad adquieres tokens Wira y
                Asoblockchain.
              </li>
              <li class="animated" data-animate="fadeInUp" data-delay=".6">
                Adquieres una billetera auto custodia para tus criptos.
              </li>
              <li class="animated" data-animate="fadeInUp" data-delay=".65">
                Puedes beneficiarte de las características de la billetera Wira.
              </li>
            </ul>
            <ul class="btn-grp justify-content-center justify-content-md-start">
              <li class="animated" data-animate="fadeInUp" data-delay=".75">
                <a
                  target="_blank"
                  href="https://wirawallet.com"
                  class="btn btn-grad btn-md"
                  >Más info de WIRA Wallet</a
                >
              </li>
              <!-- <li class="animated" data-animate="fadeInUp" data-delay=".85">
                <ul class="btn-grp gutter-15px tc-secondary">
                  <li>
                    <a href="#"><em class="fab fa-apple"></em></a>
                  </li>
                  <li>
                    <a href="#"><em class="fab fa-android"></em></a>
                  </li>
                  <li>
                    <a href="#"><em class="fab fa-windows"></em></a>
                  </li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-9 align-self-end">
          <div
            class="nk-block-img me-md-n5 me-lg-0 animated"
            data-animate="fadeInUp"
            data-delay=".6"
          >
            <img src="/static/images/sc-large-o-dark.png" alt="app" />
          </div>
        </div>
      </div>
      <!-- .row -->
    </div>
    <!-- .block @e -->
  </div>
</section>
