<section class="section bg-theme-dark-alt tc-light">
  <div class="container">
    <div class="section-head section-head-s9 wide-md">
      <h6
        class="title title-xs title-s1 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        ICO Market
      </h6>
      <h2
        class="title title-semibold animated"
        data-animate="fadeInUp"
        data-delay=".2"
      >
        Introducing the ICO Marketplace
      </h2>
      <div class="wide-sm">
        <p class="animated" data-animate="fadeInUp" data-delay=".3">
          Blockchain-powered marketplace which connects buyer and Lorem ipsum
          dolor sit amet, consectetur adipiscing.
        </p>
      </div>
    </div>
    <!-- Block @s -->
    <div class="nk-block nk-block-text-wrap">
      <div class="row align-items-center gutter-vr-30px">
        <div class="col-lg-6">
          <div
            class="nk-block-img animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <img src="/static/images/lungwort/laptop-mobile-a.png" alt="app" />
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-6">
          <div class="nk-block-text">
            <ul class="list list-check list-check-s3">
              <li class="animated" data-animate="fadeInUp" data-delay=".5">
                The Platform will earn premium libero tempore, cum soluta nobis
                keep their digital coins est eligendi optio.
              </li>
              <li class="animated" data-animate="fadeInUp" data-delay=".6">
                At aut reiciendis voluptatibus maiores alias conse quatur aut
                perferendis. Contributor payouts perfectly simple and easy
              </li>
              <li class="animated" data-animate="fadeInUp" data-delay=".7">
                Ut enim ad minim veniam, quis nostrud exerc itation
                identification is stored in an encrypted ullamco laboris nisi.
              </li>
              <li class="animated" data-animate="fadeInUp" data-delay=".8">
                Owners of cryptocurrency keep their digital coins in ICO digital
                wallet. A coin-holder’s identification is stored in an encrypted
                address that they have control.
              </li>
            </ul>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .block @e -->
  </div>
</section>
