<section class="section bg-theme-dark-alt tc-light" id="techs">
  <div class="background-shape bs-reverse"></div>
  <div class="container">
    <div class="section-head section-head-s9 wide-sm">
      <h6
        class="title title-xs title-s1 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        ¿Cómo funciona?
      </h6>
      <h2
        class="title title-semibold animated"
        data-animate="fadeInUp"
        data-delay=".2"
      >
        Componentes tecnológicos
      </h2>
      <p class="animated" data-animate="fadeInUp" data-delay=".3">
        Fácil de usar, pero con la seguridad y confianza de blockchain.
      </p>
    </div>
    <!-- Block @s -->
    <div class="nk-block">
      <div class="row gutter-vr-30px justify-content-center">
        <div class="col-lg-4 col-md-4">
          <div
            class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <div class="feature-icon feature-icon-lg my-0">
              <img src="/static/images/icons/icon-a-dark.png" alt="feature" />
            </div>
            <div class="feature-text feature-text-s8">
              <h4 class="title title-sm title-thin title-s5">
                <span>Identidad Digital Soberana</span> y firma electrónica
                blockchain
              </h4>
              <p>
                Nadie, ni nosotros mismos podemos acceder a sus datos, por que
                se cifran con tecnología LIT en base de datos de tipo Ceramic.
              </p>
              <a href="#" class="link link-primary link-feature-s1"
                ><em
                  class="link-icon icon-circle icon-circle-md ti ti-arrow-right"
                ></em
              ></a>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-4 col-md-4">
          <div
            class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated"
            data-animate="fadeInUp"
            data-delay=".5"
          >
            <div class="feature-icon feature-icon-lg my-0">
              <img src="/static/images/icons/icon-b-dark.png" alt="feature" />
            </div>
            <div class="feature-text feature-text-s8">
              <h4 class="title title-sm title-thin title-s5">
                <span>Abstraction </span>Account, gas y red
              </h4>
              <p>
                El usuario paga con USDT su gas, no necesita contraseñas ni
                claves privadas, no importa nunca la red, y la recuperación de
                la cuenta es social o con número telefónico.
              </p>
              <a href="#" class="link link-primary link-feature-s1"
                ><em
                  class="link-icon icon-circle icon-circle-md ti ti-arrow-right"
                ></em
              ></a>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-4 col-md-4">
          <div
            class="feature feature-s8 feature-center card card-full card-md bg-theme-alt animated"
            data-animate="fadeInUp"
            data-delay=".6"
          >
            <div class="feature-icon feature-icon-lg my-0">
              <img src="/static/images/icons/icon-c-dark.png" alt="feature" />
            </div>
            <div class="feature-text feature-text-s8">
              <h4 class="title title-sm title-thin title-s5">
                <span>Reputación On chain </span>para oráculos humanos
              </h4>
              <p>
                Asocie a su cuenta historial en procesos de verificación y
                participación (por ejemplo en la app de control electoral).
              </p>
              <a href="#" class="link link-primary link-feature-s1"
                ><em
                  class="link-icon icon-circle icon-circle-md ti ti-arrow-right"
                ></em
              ></a>
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
      <div class="d-flex justify-content-center pdt-r">
        <ul class="btn-grp animated" data-animate="fadeInUp" data-delay=".7">
          <li><a href="#" class="btn btn-md btn-grad">Descarga la app</a></li>
          <li>
            <a
              href="#"
              class="btn btn-md btn-outline btn-grad on-bg-theme-dark-alt"
              >Decargar el Whitepaper</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- .block @e -->
  </div>
</section>
