<section class="section section-contact bg-white ov-h" id="contact">
  <div class="container">
    <div class="section-head section-head-s3 wide-auto-sm text-center">
      <h6
        class="title title-xs title-xs-s3 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        Contact
      </h6>
      <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">
        Get In Touch
      </h2>
    </div>
    <!-- Block @s -->
    <div class="nk-block block-contact" id="contact">
      <div class="row justify-content-center gutter-vr-30px">
        <div class="col-lg-4">
          <div class="pdt-s">
            <div class="d-flex flex-column h-100">
              <p class="animated" data-animate="fadeInUp" data-delay=".3">
                Any question? Reach out to us and we’ll get back to you shortly.
              </p>
              <ul class="contact-list contact-list-s3">
                <li class="animated" data-animate="fadeInUp" data-delay=".4">
                  <em class="contact-icon contact-icon-s3 fas fa-phone"></em>
                  <div class="contact-text">
                    <span>+44 0123 4567</span>
                  </div>
                </li>
                <li class="animated" data-animate="fadeInUp" data-delay=".5">
                  <em class="contact-icon contact-icon-s3 fas fa-envelope"></em>
                  <div class="contact-text">
                    <span>info@company.com</span>
                  </div>
                </li>
                <li class="animated" data-animate="fadeInUp" data-delay=".6">
                  <em
                    class="contact-icon contact-icon-s3 fas fa-paper-plane"
                  ></em>
                  <div class="contact-text">
                    <span>Join us on Telegram</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-6">
          <div class="">
            <form
              id="contact-form"
              class="nk-form-submit"
              action="form/contact.php"
              method="post"
            >
              <div
                class="field-item animated"
                data-animate="fadeInUp"
                data-delay=".7"
              >
                <input
                  name="contact-name"
                  type="text"
                  class="input-line required"
                />
                <label class="field-label field-label-line">Your Name</label>
              </div>
              <div
                class="field-item animated"
                data-animate="fadeInUp"
                data-delay=".8"
              >
                <input
                  name="contact-email"
                  type="email"
                  class="input-line required email"
                />
                <label class="field-label field-label-line">Your Email</label>
              </div>
              <div
                class="field-item animated"
                data-animate="fadeInUp"
                data-delay=".9"
              >
                <textarea
                  name="contact-message"
                  class="input-line input-textarea required"
                ></textarea>
                <label class="field-label field-label-line">Your Message</label>
              </div>
              <input
                type="text"
                class="d-none"
                name="form-anti-honeypot"
                value=""
              />
              <div class="row">
                <div
                  class="col-sm-4 animated"
                  data-animate="fadeInUp"
                  data-delay="1"
                >
                  <button type="submit" class="btn btn-md btn-grad">
                    Submit
                  </button>
                </div>
                <div class="col-sm-8">
                  <div class="form-results"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .block @e -->
  </div>
  <div class="ui-mask-right ui-mask-s6"></div>
</section>
