<section class="section bg-theme tc-light">
  <div class="container">
    <div class="section-head section-head-s9 wide-md">
      <h6
        class="title title-xs title-s1 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        Documentación y registros
      </h6>
      <h2
        class="title title-semibold animated"
        data-animate="fadeInUp"
        data-delay=".2"
      >
        Registro, licencias y documentación
      </h2>
      <div class="wide-sm">
        <p class="animated" data-animate="fadeInUp" data-delay=".3">
          Aquí mostramos información del registro legal de nuestra empresa
        </p>
      </div>
    </div>
    <!-- Block @s -->
    <div class="nk-block nk-block-features">
      <div class="row gutter-vr-30px">
        <div class="col-xl-3 col-sm-6">
          <div
            class="doc doc-s2 bg-theme-dark-alt animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <div class="doc-photo no-hover">
              <img src="/static/images/docs/alt-sm-a.png" alt="doc" />
            </div>
            <div class="doc-text">
              <h6 class="doc-title title-xs-alt">Libro Blanco</h6>
              <ul class="btn-grp gutter-10px">
                <li>
                  <a class="btn btn-outline btn-xxs btn-auto btn-light" href="#"
                    >ESP</a
                  >
                </li>
                <li>
                  <a class="btn btn-outline btn-xxs btn-auto btn-light" href="#"
                    >ENG</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-xl-3 col-sm-6">
          <div
            class="doc doc-s2 bg-theme-dark-alt animated"
            data-animate="fadeInUp"
            data-delay=".5"
          >
            <div class="doc-photo no-hover">
              <img src="/static/images/docs/alt-sm-b.png" alt="doc" />
            </div>
            <div class="doc-text">
              <h6 class="doc-title title-xs-alt">REGISTRO DE COMERCIO</h6>
              <ul class="btn-grp gutter-10px">
                <li>
                  <a class="btn btn-outline btn-xxs btn-auto btn-light" href="#"
                    >ESP</a
                  >
                </li>
                <!-- <li>
                  <a class="btn btn-outline btn-xxs btn-auto btn-light" href="#"
                    >RUS</a
                  >
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-xl-3 col-sm-6">
          <div
            class="doc doc-s2 bg-theme-dark-alt animated"
            data-animate="fadeInUp"
            data-delay=".6"
          >
            <div class="doc-photo no-hover">
              <img src="/static/images/docs/alt-sm-c.png" alt="doc" />
            </div>
            <div class="doc-text">
              <h6 class="doc-title title-xs-alt">Política de privacidad</h6>
              <ul class="btn-grp gutter-10px">
                <li>
                  <a class="btn btn-outline btn-xxs btn-auto btn-light" href="#"
                    >ESP</a
                  >
                </li>
                <li>
                  <a class="btn btn-outline btn-xxs btn-auto btn-light" href="#"
                    >ENG</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-xl-3 col-sm-6">
          <div
            class="doc doc-s2 bg-theme-dark-alt animated"
            data-animate="fadeInUp"
            data-delay=".7"
          >
            <div class="doc-photo no-hover">
              <img src="/static/images/docs/alt-sm-d.png" alt="doc" />
            </div>
            <div class="doc-text">
              <h6 class="doc-title title-xs-alt">Términos y condiciones</h6>
              <ul class="btn-grp gutter-10px">
                <li>
                  <a class="btn btn-outline btn-xxs btn-auto btn-light" href="#"
                    >ESP</a
                  >
                </li>
                <li>
                  <a class="btn btn-outline btn-xxs btn-auto btn-light" href="#"
                    >ENG</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .block @e -->
  </div>
</section>
