<section class="section bg-white pb-0 ov-v" id="faq">
  <div class="container">
    <div class="section-head section-head-s3 wide-auto-sm text-center">
      <h6
        class="title title-xs title-xs-s3 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        Faqs
      </h6>
      <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">
        Frequently Asked Questions
      </h2>
      <p class="animated" data-animate="fadeInUp" data-delay=".3">
        Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and few
        others. If you have any other questions, please get in touch using the
        contact form below.
      </p>
    </div>
    <!-- Block @s -->
    <div class="nk-block">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10">
          <ul
            class="nav tab-nav tab-nav-s2 tab-nav-center mgb-r animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <li>
              <a
                class="active"
                data-bs-toggle="tab"
                href="#general-questions-19"
                >General</a
              >
            </li>
            <li>
              <a data-bs-toggle="tab" href="#ico-questions-19"
                >Pre-ICO &amp; ICO</a
              >
            </li>
            <li><a data-bs-toggle="tab" href="#tokens-sales-19">Token</a></li>
            <li><a data-bs-toggle="tab" href="#client-19">Client</a></li>
            <li><a data-bs-toggle="tab" href="#legal-19">Legal</a></li>
          </ul>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div
            class="tab-content animated"
            data-animate="fadeInUp"
            data-delay=".5"
          >
            <div class="tab-pane fade show active" id="general-questions-19">
              <div class="row gutter-vr-50px">
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">What is ICO Crypto?</h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      What cryptocurrencies can I use to purchase?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      How can I participate in the ICO Token sale?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      How do I benefit from the ICO Token?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="ico-questions-19">
              <div class="row gutter-vr-50px">
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Which of us ever undertakes laborious?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Who do not know how to pursue rationally?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Their separate existence is a myth?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Pityful a rethoric question ran over her cheek?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tokens-sales-19">
              <div class="row gutter-vr-50px">
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      When she reached the first hills?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Big Oxmox advised her not to do?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Which roasted parts of sentences fly into your mouth?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Vokalia and Consonantia, there live?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="client-19">
              <div class="row gutter-vr-50px">
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      When she reached the first hills?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Big Oxmox advised her not to do?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Which roasted parts of sentences fly into your mouth?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Vokalia and Consonantia, there live?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="legal-19">
              <div class="row gutter-vr-50px">
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      When she reached the first hills?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Big Oxmox advised her not to do?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Which roasted parts of sentences fly into your mouth?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="nk-block-text">
                    <h5 class="title title-sm">
                      Vokalia and Consonantia, there live?
                    </h5>
                    <p>
                      Once ICO period is launched, You can purchased Token with
                      Etherum, Bitcoin or Litecoin. You can also tempor
                      incididunt ut labore et dolore magna aliqua sed do eiusmod
                      eaque ipsa.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .block @e -->
  </div>
  <div class="ui-mask-left ui-mask-s5"></div>
</section>
