<section class="section bg-white ov-h" id="features">
  <div class="container">
    <div class="section-head section-head-s3 wide-auto-sm text-center">
      <h6
        class="title title-xs title-xs-s3 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        Funcionalidades Clave
      </h6>
      <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">
        Características Principales
      </h2>
      <p class="animated" data-animate="fadeInUp" data-delay=".3">
        Explora las herramientas que hacen posible un control electoral
        ciudadano empoderado y verificable.
      </p>
    </div>
    <div class="nk-block">
      <div class="row justify-content-center gutter-vr-30px">
        <div class="col-lg-4 col-sm-8">
          <div
            class="feature text-center animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <div class="feature-icon feature-icon-s8">
              <img src="/static/images/gfx/gfx-sm-e-light.png" alt="feature" />
            </div>
            <div class="feature-text">
              <h5 class="title title-md">Identidad Digital Soberana</h5>
              <p>
                Regístrate de forma segura con validación por IA, creando una
                identidad protegida mediante contratos inteligentes, parte del
                ecosistema de Wira Wallet.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-8">
          <div
            class="feature text-center animated"
            data-animate="fadeInUp"
            data-delay=".5"
          >
            <div class="feature-icon feature-icon-s8">
              <img src="/static/images/gfx/gfx-sm-f-light.png" alt="feature" />
            </div>
            <div class="feature-text">
              <h5 class="title title-md">Conversión de Actas en NFTs</h5>
              <p>
                Captura y firma electrónicamente actas electorales,
                convirtiéndolas en tokens no fungibles que garantizan
                inmutabilidad y fácil validación por la comunidad.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-8">
          <div
            class="feature text-center animated"
            data-animate="fadeInUp"
            data-delay=".6"
          >
            <div class="feature-icon feature-icon-s8">
              <img src="/static/images/gfx/gfx-sm-g-light.png" alt="feature" />
            </div>
            <div class="feature-text">
              <h5 class="title title-md">Validación Blockchain</h5>
              <p>
                Accede a resultados consolidados respaldados en blockchain, con
                visualizaciones de uso y autenticidad para un monitoreo
                transparente en elecciones.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pdt-r">
        <!-- <ul class="btn-grp animated" data-animate="fadeInUp" data-delay=".7">
          <li>
            <a href="#" class="btn btn-grad btn-md">Ver Demostración</a>
          </li>
          <li>
            <a href="#" class="btn btn-grad btn-md">Ver expicación en video</a>
          </li>
        </ul> -->
        <div class="pdt-r animated" data-animate="fadeInUp" data-delay=".8">
          <a
            target="_blank"
            href="https://chat.whatsapp.com/GXVRswerjoN6uBGBN3q4Y4?mode=r_t"
            class="link link-light link-xs"
          >
            <em class="link-icon fa fa-whatsapp-square"></em
            ><span>Grupos de Whatsapp</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
