<section class="section bg-white ov-h" id="features">
  <div class="container">
    <div class="section-head section-head-s3 wide-auto-sm text-center">
      <h6
        class="title title-xs title-xs-s3 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        {{ t.features.header }}
      </h6>
      <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">
        {{ t.features.title }}
      </h2>
      <p class="animated" data-animate="fadeInUp" data-delay=".3">
        {{ t.features.description }}
      </p>
    </div>
    <div class="nk-block">
      <div class="row justify-content-center gutter-vr-30px">
        <div class="col-lg-4 col-sm-8">
          <div
            class="feature text-center animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <div class="feature-icon feature-icon-s8">
              <img src="/static/images/gfx/gfx-sm-e-light.png" alt="feature" />
            </div>
            <div class="feature-text">
              <h5 class="title title-md">{{ t.features.title1 }}</h5>
              <p>{{ t.features.description1}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-8">
          <div
            class="feature text-center animated"
            data-animate="fadeInUp"
            data-delay=".5"
          >
            <div class="feature-icon feature-icon-s8">
              <img src="/static/images/gfx/gfx-sm-f-light.png" alt="feature" />
            </div>
            <div class="feature-text">
              <h5 class="title title-md">{{ t.features.title2 }}</h5>
              <p>{{ t.features.description2}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-8">
          <div
            class="feature text-center animated"
            data-animate="fadeInUp"
            data-delay=".6"
          >
            <div class="feature-icon feature-icon-s8">
              <img src="/static/images/gfx/gfx-sm-g-light.png" alt="feature" />
            </div>
            <div class="feature-text">
              <h5 class="title title-md">{{ t.features.title3 }}</h5>
              <p>{{ t.features.description3}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pdt-r">
        <!-- <ul class="btn-grp animated" data-animate="fadeInUp" data-delay=".7">
          <li>
            <a href="#" class="btn btn-grad btn-md">Ver Demostración</a>
          </li>
          <li>
            <a href="#" class="btn btn-grad btn-md">Ver expicación en video</a>
          </li>
        </ul> -->
        <div class="pdt-r animated" data-animate="fadeInUp" data-delay=".8">
          <a
            target="_blank"
            href="https://chat.whatsapp.com/GXVRswerjoN6uBGBN3q4Y4?mode=r_t"
            class="link link-light link-xs"
          >
            <em class="link-icon fa fa-whatsapp-square"></em
            ><span>{{ t.features.whatsapp}} </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
