<section class="section bg-theme-alt tc-light" id="benifits">
  <div class="container">
    <div class="section-head section-head-s9 wide-sm">
      <h6
        class="title title-xs title-s1 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        ICO Crypto Feature
      </h6>
      <h2
        class="title title-semibold animated"
        data-animate="fadeInUp"
        data-delay=".2"
      >
        Ecosystem key features
      </h2>
      <p class="animated" data-animate="fadeInUp" data-delay=".3">
        The ICO Crypto Team combines a passion for esports, industry experise
        &amp; proven record in finance, development, marketing.
      </p>
    </div>
    <!-- Block @s -->
    <div class="nk-block nk-block-features">
      <div class="row gutter-100px gutter-vr-60px">
        <div class="col-lg-6">
          <div
            class="feature feature-s12 animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <div class="feature-icon feature-icon-lg m-lg-0">
              <img src="/static/images/lungwort/gfx-sm-a.png" alt="feature" />
            </div>
            <div class="feature-text feature-text-s2">
              <p>
                ICO Crypto makes
                <strong> you the sole owner of a secure </strong> decentralize
                registry for your collection an products
              </p>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-6">
          <div
            class="feature feature-s12 animated"
            data-animate="fadeInUp"
            data-delay=".5"
          >
            <div class="feature-icon feature-icon-lg m-lg-0">
              <img src="/static/images/lungwort/gfx-sm-b.png" alt="feature" />
            </div>
            <div class="feature-text feature-text-s2">
              <p>
                The registry is a <strong>tamper-proof</strong> that uses
                <strong>dolor sit amet,</strong> conse ctetur sed eiusmod tempor
                incidid labore Lorem consectetur adipiscing.
              </p>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-6">
          <div
            class="feature feature-s12 animated"
            data-animate="fadeInUp"
            data-delay=".6"
          >
            <div class="feature-icon feature-icon-lg m-lg-0">
              <img src="/static/images/lungwort/gfx-sm-c.png" alt="feature" />
            </div>
            <div class="feature-text feature-text-s2">
              <p>
                Provide your customer with a
                <strong>lorem ipsum dolor sit amet, conse ctetur sed</strong>
                eiusmod tempor incidid labore Lorem ipsum dolor.
              </p>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-6">
          <div
            class="feature feature-s12 animated"
            data-animate="fadeInUp"
            data-delay=".7"
          >
            <div class="feature-icon feature-icon-lg m-lg-0">
              <img src="/static/images/lungwort/gfx-sm-d.png" alt="feature" />
            </div>
            <div class="feature-text feature-text-s2">
              <p>
                ICO Crypto the prowess of blockchain
                <strong>labore et dolore</strong> dolor sit amet, conse
                <strong>Ctetur sed</strong> eiusmod tempor labore dolor
                adipiscing.
              </p>
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .block @s -->
  </div>
</section>
