<section class="section bg-theme-alt tc-light">
  <div class="container">
    <div class="section-head section-head-s9 wide-md">
      <h6
        class="title title-xs title-s1 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        Partners
      </h6>
      <h2
        class="title title-semibold animated"
        data-animate="fadeInUp"
        data-delay=".2"
      >
        Supported By
      </h2>
    </div>
    <!-- Block @s -->
    <div class="nk-block block-partners mgb-m30">
      <ul class="partner-list partner-list-left partner-list-s3 flex-wrap">
        <li
          class="partner-logo partner-logo-s2 animated"
          data-animate="fadeInUp"
          data-delay=".3"
        >
          <img src="/static/images/partners/a-xs-light-alt.png" alt="partner" />
        </li>
        <li
          class="partner-logo partner-logo-s2 animated"
          data-animate="fadeInUp"
          data-delay=".35"
        >
          <img src="/static/images/partners/b-xs-light-alt.png" alt="partner" />
        </li>
        <li
          class="partner-logo partner-logo-s2 animated"
          data-animate="fadeInUp"
          data-delay=".4"
        >
          <img src="/static/images/partners/c-xs-light-alt.png" alt="partner" />
        </li>
        <li
          class="partner-logo partner-logo-s2 animated"
          data-animate="fadeInUp"
          data-delay=".45"
        >
          <img src="/static/images/partners/d-xs-light-alt.png" alt="partner" />
        </li>
        <li
          class="partner-logo partner-logo-s2 animated"
          data-animate="fadeInUp"
          data-delay=".5"
        >
          <img src="/static/images/partners/e-xs-light-alt.png" alt="partner" />
        </li>
        <li
          class="partner-logo partner-logo-s2 animated"
          data-animate="fadeInUp"
          data-delay=".55"
        >
          <img src="/static/images/partners/a-xs-light-alt.png" alt="partner" />
        </li>
        <li
          class="partner-logo partner-logo-s2 animated"
          data-animate="fadeInUp"
          data-delay=".6"
        >
          <img src="/static/images/partners/a-sm-light-alt.png" alt="partner" />
        </li>
        <li
          class="partner-logo partner-logo-s2 animated"
          data-animate="fadeInUp"
          data-delay=".65"
        >
          <img src="/static/images/partners/b-sm-light-alt.png" alt="partner" />
        </li>
        <li
          class="partner-logo partner-logo-s2 animated"
          data-animate="fadeInUp"
          data-delay=".7"
        >
          <img src="/static/images/partners/c-sm-light-alt.png" alt="partner" />
        </li>
        <li
          class="partner-logo partner-logo-s2 animated"
          data-animate="fadeInUp"
          data-delay=".75"
        >
          <img src="/static/images/partners/a-sm-light-alt.png" alt="partner" />
        </li>
      </ul>
    </div>
    <!-- Block @e -->
  </div>
</section>
