<section class="section section-contact bg-theme-dark tc-light">
  <div class="container">
    <!-- Section Head @s -->
    <div class="section-head text-center wide-auto-sm">
      <h4
        class="title-xs title-semibold animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        As Seen In
      </h4>
    </div>
    <!-- .section-head @e -->
    <!-- Block @s -->
    <div class="nk-block block-partners">
      <ul class="partner-list partner-list-s2 flex-wrap mgb-m30">
        <li
          class="partner-logo-s3 animated"
          data-animate="fadeInUp"
          data-delay=".2"
        >
          <img src="images/partners/a-xs-light.png" alt="partner" />
        </li>
        <li
          class="partner-logo-s3 animated"
          data-animate="fadeInUp"
          data-delay=".25"
        >
          <img src="images/partners/b-xs-light.png" alt="partner" />
        </li>
        <li
          class="partner-logo-s3 animated"
          data-animate="fadeInUp"
          data-delay=".3"
        >
          <img src="images/partners/c-xs-light.png" alt="partner" />
        </li>
        <li
          class="partner-logo-s3 animated"
          data-animate="fadeInUp"
          data-delay=".35"
        >
          <img src="images/partners/d-xs-light.png" alt="partner" />
        </li>
        <li
          class="partner-logo-s3 animated"
          data-animate="fadeInUp"
          data-delay=".4"
        >
          <img src="images/partners/e-xs-light.png" alt="partner" />
        </li>
        <li
          class="partner-logo-s3 animated"
          data-animate="fadeInUp"
          data-delay=".45"
        >
          <img src="images/partners/f-xs-light.png" alt="partner" />
        </li>
        <li
          class="partner-logo-s3 animated"
          data-animate="fadeInUp"
          data-delay=".5"
        >
          <img src="images/partners/a-xs-light.png" alt="partner" />
        </li>
        <li
          class="partner-logo-s3 animated"
          data-animate="fadeInUp"
          data-delay=".55"
        >
          <img src="images/partners/b-xs-light.png" alt="partner" />
        </li>
        <li
          class="partner-logo-s3 animated"
          data-animate="fadeInUp"
          data-delay=".6"
        >
          <img src="images/partners/c-xs-light.png" alt="partner" />
        </li>
        <li
          class="partner-logo-s3 animated"
          data-animate="fadeInUp"
          data-delay=".66"
        >
          <img src="images/partners/d-xs-light.png" alt="partner" />
        </li>
      </ul>
    </div>
  </div>
</section>
