<section class="section section-r bg-theme tc-light pb-0 ov-h">
  <div class="container">
    <div class="section-head section-head-sm wide-auto-sm text-center">
      <h2
        class="title title-xs title-xs-s1 tc-lighter animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        Our Rating
      </h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="nk-block">
          <div class="row gutter-vr-30px text-center">
            <div class="col-lg-2 col-4">
              <div
                class="rating animated"
                data-animate="fadeInUp"
                data-delay=".2"
              >
                <div class="rating-info">4.7<span>5</span></div>
                <div class="rating-title">ICO Bench</div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-lg-2 col-4">
              <div
                class="rating animated"
                data-animate="fadeInUp"
                data-delay=".3"
              >
                <div class="rating-info">A</div>
                <div class="rating-title">ICObazaar</div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-lg-2 col-4">
              <div
                class="rating animated"
                data-animate="fadeInUp"
                data-delay=".4"
              >
                <div class="rating-info">9.4<span>10</span></div>
                <div class="rating-title">ICORanker</div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-lg-2 col-4">
              <div
                class="rating animated"
                data-animate="fadeInUp"
                data-delay=".5"
              >
                <div class="rating-info">4.9<span>5</span></div>
                <div class="rating-title">Trackico</div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-lg-2 col-4">
              <div
                class="rating animated"
                data-animate="fadeInUp"
                data-delay=".6"
              >
                <div class="rating-info">5<span>5</span></div>
                <div class="rating-title">WiserICO</div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-lg-2 col-4">
              <div
                class="rating animated"
                data-animate="fadeInUp"
                data-delay=".7"
              >
                <div class="rating-info">9.1<span>10</span></div>
                <div class="rating-title">Fundico</div>
              </div>
            </div>
            <!-- .col -->
          </div>
        </div>
      </div>
      <!-- .col -->
    </div>
    <!-- .row -->
  </div>
</section>
