<section class="section bg-light ov-h" id="roadmap">
  <div class="container">
    <div class="section-head section-head-s3 wide-auto-sm text-center">
      <h6
        class="title title-xs title-xs-s3 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        Roadmap
      </h6>
      <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">
        Nuestro camino hacia la transparencia
      </h2>
      <p class="animated" data-animate="fadeInUp" data-delay=".3">
        Un plan estructurado para el desarrollo y despliegue de Tu Voto Decide,
        desde el piloto en Bolivia hasta su expansión global.
      </p>
    </div>
    <!-- Block @s -->
    <div class="nk-block">
      <div class="row justify-content-center">
        <div class="col">
          <div
            class="roadmap-carousel-container-s2 text-center animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <div
              class="has-carousel roadmap-carousel roadmap-carousel-s2 roadmap-carousel-nav-s2 owl-carousel"
              data-items="5"
              data-items-mobile-s="1"
              data-navs="true"
            >
              <div class="roadmap roadmap-s6 roadmap-s6-2-1 roadmap-done">
                <div class="roadmap-head roadmap-head-s6">
                  <span class="roadmap-time roadmap-time-s6">Julio 2025</span>
                </div>
                <p>Desarrollo y Lanzamiento Inicial</p>
              </div>
              <div class="roadmap roadmap-s6 roadmap-s6-3-2">
                <div class="roadmap-head roadmap-head-s6">
                  <span class="roadmap-time roadmap-time-s6">Agosto 2025</span>
                </div>
                <p>Piloto en Elecciones Bolivia 2025</p>
              </div>
              <div class="roadmap roadmap-s6 roadmap-s6-1-2">
                <div class="roadmap-head roadmap-head-s6">
                  <span class="roadmap-time roadmap-time-s6">Octubre 2025</span>
                </div>
                <p>Uso masivo en la segunda vuelta</p>
              </div>
              <div class="roadmap roadmap-s6 roadmap-s6-1-2">
                <div class="roadmap-head roadmap-head-s6">
                  <span class="roadmap-time roadmap-time-s6"
                    >Diciembre 2025</span
                  >
                </div>
                <p>Uso oficial en instituciones locales</p>
              </div>
              <div class="roadmap roadmap-s6 roadmap-s6-3-2">
                <div class="roadmap-head roadmap-head-s6">
                  <span class="roadmap-time roadmap-time-s6">Abril 2026</span>
                </div>
                <p>Uso oficial en elecciones municipales</p>
              </div>
              <div class="roadmap roadmap-s6 roadmap-s6-1-3">
                <div class="roadmap-head roadmap-head-s6">
                  <span class="roadmap-time roadmap-time-s6">Junio 2026</span>
                </div>
                <p>Integración en instituciones internacionales</p>
              </div>
              <div class="roadmap roadmap-s6 roadmap-s6-3-2">
                <div class="roadmap-head roadmap-head-s6">
                  <span class="roadmap-time roadmap-time-s6">2027</span>
                </div>
                <p>Uso en otros países</p>
              </div>
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .block @e -->
  </div>
  <div class="nk-ovm nk-ovm-fixed shape-w"></div>
</section>
