<section class="section bg-theme-alt tc-light" id="roadmap">
  <div class="container">
    <div class="section-head section-head-s9 wide-md">
      <h6
        class="title title-xs title-s1 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        Planes
      </h6>
      <h2
        class="title title-semibold animated"
        data-animate="fadeInUp"
        data-delay=".2"
      >
        Hitos de desarrollo
      </h2>
      <div class="wide-sm">
        <p class="animated" data-animate="fadeInUp" data-delay=".3">
          Nuestro desarrollo contempla los siguientes hitos específicos.
        </p>
      </div>
    </div>
    <!-- Section Head @s -->
    <!-- Block @s -->
    <div class="nk-block nk-block-left">
      <div
        class="roadmap-all mgb-m50 animated"
        data-animate="fadeInUp"
        data-delay=".4"
      >
        <div
          class="roadmap-wrap roadmap-wrap-done roadmap-wrap-s1 roadmap-wrap-s1-alt mb-0 ms-0"
        >
          <div class="row g-0">
            <div class="col-lg">
              <div
                class="roadmap roadmap-s1 roadmap-s1-alt roadmap-done text-lg-center"
              >
                <div class="roadmap-step roadmap-step-s1">
                  <div class="roadmap-head roadmap-head-s1">
                    <span class="roadmap-time roadmap-time-s1"
                      >2025 - Marzo</span
                    >
                    <span class="roadmap-title roadmap-title-s1">Concepto</span>
                  </div>
                  <ul class="roadmap-step-list roadmap-step-list-s1">
                    <li>Desarrollo Conceptual</li>
                    <li>Investigación</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-lg">
              <div
                class="roadmap roadmap-s1 roadmap-s1-alt roadmap-done text-lg-center"
              >
                <div class="roadmap-step roadmap-step-s1">
                  <div class="roadmap-head roadmap-head-s1">
                    <span class="roadmap-time roadmap-time-s1"
                      >2025 - Abril</span
                    >
                    <span class="roadmap-title roadmap-title-s1">MVP</span>
                  </div>
                  <ul class="roadmap-step-list roadmap-step-list-s1">
                    <li>Presentación a inversores</li>
                    <li>Testeo con clientes</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-lg">
              <div
                class="roadmap roadmap-s1 roadmap-s1-alt roadmap-done text-lg-center"
              >
                <div class="roadmap-step roadmap-step-s1">
                  <div class="roadmap-head roadmap-head-s1">
                    <span class="roadmap-time roadmap-time-s1"
                      >2025 - Mayo</span
                    >
                    <span class="roadmap-title roadmap-title-s1"
                      >Arquitectura</span
                    >
                  </div>
                  <ul class="roadmap-step-list roadmap-step-list-s1">
                    <li>Investigación técnica</li>
                    <li>Desarrollo técnico</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-lg">
              <div
                class="roadmap roadmap-s1 roadmap-s1-alt roadmap-done text-lg-center"
              >
                <div class="roadmap-step roadmap-step-s1">
                  <div class="roadmap-head roadmap-head-s1">
                    <span class="roadmap-time roadmap-time-s1"
                      >2025 - Julio</span
                    >
                    <span class="roadmap-title roadmap-title-s1"
                      >Pruebas Beta</span
                    >
                  </div>
                  <ul class="roadmap-step-list roadmap-step-list-s1">
                    <li>Lanzamiento con app de Control Electoral</li>
                    <li>Despliegue en testnet</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <div class="roadmap-wrap roadmap-wrap-s1 roadmap-wrap-s1-alt mb-0 ms-0">
          <div class="row flex-row-reverse g-0">
            <div class="col-lg">
              <div class="roadmap roadmap-s1 roadmap-s1-alt text-lg-center">
                <div class="roadmap-step roadmap-step-s1">
                  <div class="roadmap-head roadmap-head-s1">
                    <span class="roadmap-time roadmap-time-s1"
                      >2025 - Agosto - Octubre</span
                    >
                    <span class="roadmap-title roadmap-title-s1"
                      >Identidad en producción</span
                    >
                  </div>
                  <ul class="roadmap-step-list roadmap-step-list-s1">
                    <li>Uso en elecciones Bolivia</li>
                    <li>Lanzamiento en pocos negocios</li>
                    <li>Control electoral en mainnet de arbitrum</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-lg">
              <div class="roadmap roadmap-s1 roadmap-s1-alt text-lg-center">
                <div class="roadmap-step roadmap-step-s1">
                  <div class="roadmap-head roadmap-head-s1">
                    <span class="roadmap-time roadmap-time-s1"
                      >2025 - Octubre</span
                    >
                    <span class="roadmap-title roadmap-title-s1"
                      >Billetera producción</span
                    >
                  </div>
                  <ul class="roadmap-step-list roadmap-step-list-s1">
                    <li>Publicidad abierta aplicación</li>
                    <li>Acceso a primeros servicios DEFI</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-lg">
              <div class="roadmap roadmap-s1 roadmap-s1-alt text-lg-center">
                <div class="roadmap-step roadmap-step-s1">
                  <div class="roadmap-head roadmap-head-s1">
                    <span class="roadmap-time roadmap-time-s1"
                      >2025 - Noviembre</span
                    >
                    <span class="roadmap-title roadmap-title-s1"
                      >Expansión</span
                    >
                  </div>
                  <ul class="roadmap-step-list roadmap-step-list-s1">
                    <li>Hackathon exclusiva para identidad digital</li>
                    <li>Implementación de servicios DEFI</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
      </div>
    </div>
    <!-- .block @e -->
  </div>
</section>
