<section class="section bg-light ov-h" id="roadmap">
  <div class="container">
    <div class="section-head section-head-s3 wide-auto-sm text-center">
      <h6
        class="title title-xs title-xs-s3 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        {{ t.roadmap.header }}
      </h6>
      <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">
        {{ t.roadmap.title }}
      </h2>
      <p class="animated" data-animate="fadeInUp" data-delay=".3">
        {{ t.roadmap.description }}
      </p>
    </div>
    <!-- Block @s -->
    <div class="nk-block">
      <div class="row justify-content-center">
        <div class="col">
          <div
            class="roadmap-carousel-container-s2 text-center animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <div
              class="has-carousel roadmap-carousel roadmap-carousel-s2 roadmap-carousel-nav-s2 owl-carousel"
              data-items="5"
              data-items-mobile-s="1"
              data-navs="true"
            >
              {% for milestone in t.roadmap.milestones %}
              <div
                class="roadmap roadmap-s6 roadmap-s6-2-1 {% if milestone.done %} roadmap-done {% endif %}"
              >
                <div class="roadmap-head roadmap-head-s6">
                  <span class="roadmap-time roadmap-time-s6"
                    >{{milestone.date}}</span
                  >
                </div>
                <p>{{milestone.event}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .block @e -->
  </div>
  <div class="nk-ovm nk-ovm-fixed shape-w"></div>
</section>
