<section class="section bg-theme-alt tc-light ov-h" id="org">
  <div class="container">
    <div class="section-head section-head-s3 wide-auto-sm text-center">
      <h6
        class="title title-xs title-xs-s3 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        {{t.team.header}}
      </h6>
      <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">
        {{t.team.title}}
      </h2>
      <p class="animated" data-animate="fadeInUp" data-delay=".3">
        {{t.team.description}}
      </p>
    </div>
    <!-- Section Head @s -->
    <!-- Block @s -->
    <div class="nk-block nk-block-team-list team-list">
      <div class="row justify-content-center">
        {% for member in t.team.members%}
        <div class="col-lg-3 col-mb-6">
          <div
            class="team team-s5 animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <div class="team-photo team-photo-s1">
              <img
                src="/static/images/team/{{member.imageBN}}"
                alt="team"
                class="no-bdrs"
              />
              <a
                href="#team-popup-{{ loop.index }}"
                class="team-show content-popup"
                data-overlay="bg-grad-alt"
              ></a>
            </div>
            <h5 class="team-name title title-md">
              {{member.name}} <br />{{member.lastName}}
            </h5>
            <span class="team-position">{{member.title}}</span>
            <ul class="team-social team-social-vr team-social-s2">
              <li>
                <a target="_blank" href="{{member.x}}"
                  ><em class="fab fa-twitter"></em
                ></a>
              </li>
              <li>
                <a target="_blank" href="{{member.linkedIn}}"
                  ><em class="fab fa-linkedin-in"></em
                ></a>
              </li>
            </ul>
          </div>
          <!-- Start .team-profile  -->
          <div id="team-popup-{{ loop.index }}" class="team-popup mfp-hide">
            <a title="Close" class="mfp-close">×</a>
            <div class="row align-items-start">
              <div class="col-md-6">
                <div class="team-photo">
                  <img
                    src="/static/images/team/{{member.imageColor}}"
                    alt="team"
                  />
                </div>
              </div>
              <!-- .col  -->
              <div class="col-md-6">
                <div class="team-popup-info ps-md-3">
                  <h3 class="team-name title title-lg pt-4">
                    {{member.name}} {{member.lastName}}
                  </h3>
                  <p class="team-position mb-1">{{member.title}}</p>
                  <ul class="team-social team-social-s2 mb-4">
                    <li>
                      <a target="_blank" href="{{member.x}}"
                        ><em class="fab fa-twitter"></em
                      ></a>
                    </li>
                    <li>
                      <a target="_blank" href="{{member.linkedIn}}"
                        ><em class="fab fa-linkedin-in"></em
                      ></a>
                    </li>
                  </ul>
                  <p>{{member.small}}</p>
                  <p>{{member.large}}</p>
                  <div class="progress-list">
                    {% for skill in member.skills %}
                    <div class="progress-wrap">
                      <div class="progress-title">
                        {{skill.subject}}
                        <span class="progress-amount">{{skill.level}}%</span>
                      </div>
                      <div class="progress-bar progress-bar-xs bg-black-10">
                        <div
                          class="progress-percent bg-grad-alt"
                          data-percent="{{skill.level}}"
                        ></div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- .col  -->
            </div>
            <!-- .row  -->
          </div>
          <!-- .team-profile  -->
        </div>
        {% endfor %}
      </div>
      <!-- .row -->
    </div>

    {#
    <div class="nk-block nk-block-team-list">
      <div class="section-head section-head-sm text-center">
        <h2
          class="title-lg-2 title-semibold animated"
          data-animate="fadeInUp"
          data-delay=".8"
        >
          The Advisory board
        </h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-mb-6">
          <div
            class="team team-s5 animated"
            data-animate="fadeInUp"
            data-delay=".9"
          >
            <div class="team-photo team-photo-s1">
              <img
                src="/static/images/team/sq-a.jpg"
                alt="team"
                class="no-bdrs"
              />
              <a
                href="#team-popup-5"
                class="team-show content-popup"
                data-overlay="bg-grad-alt"
              ></a>
            </div>
            <h5 class="team-name title title-md">Louis <br />Baker</h5>
            <span class="team-position">CEO &amp; Lead Blockchain</span>
            <ul class="team-social team-social-vr team-social-s2">
              <li>
                <a href="#"><em class="fab fa-facebook-f"></em></a>
              </li>
              <li>
                <a href="#"><em class="fab fa-twitter"></em></a>
              </li>
              <li>
                <a href="#"><em class="fab fa-linkedin-in"></em></a>
              </li>
            </ul>
          </div>
          <!-- Start .team-profile  -->
          <div id="team-popup-5" class="team-popup mfp-hide">
            <a title="Close" class="mfp-close">×</a>
            <div class="row align-items-start">
              <div class="col-md-6">
                <div class="team-photo">
                  <img src="/static/images/team/a.jpg" alt="team" />
                </div>
              </div>
              <!-- .col  -->
              <div class="col-md-6">
                <div class="team-popup-info ps-md-3">
                  <h3 class="team-name title title-lg pt-4">Louis Baker</h3>
                  <p class="team-position mb-1">CEO &amp; Lead Blockchain</p>
                  <ul class="team-social team-social-s2 mb-4">
                    <li>
                      <a href="#"><em class="fab fa-facebook-f"></em></a>
                    </li>
                    <li>
                      <a href="#"><em class="fab fa-linkedin-in"></em></a>
                    </li>
                  </ul>
                  <p>
                    He is a great man to work Lorem ipsum dolor sit amet, consec
                    tetur adipis icing elit. Simi lique, autem.
                  </p>
                  <p>
                    Tenetur quos facere magnam volupt ates quas esse Sedrep ell
                    endus mole stiae tates quas esse Sed repell endus molesti
                    aela uda ntium quis quam iusto minima thanks.
                  </p>
                  <div class="progress-list">
                    <div class="progress-wrap">
                      <div class="progress-title">
                        Blockchain <span class="progress-amount">85%</span>
                      </div>
                      <div class="progress-bar progress-bar-xs bg-black-10">
                        <div
                          class="progress-percent bg-grad-alt"
                          data-percent="85"
                        ></div>
                      </div>
                    </div>
                    <div class="progress-wrap">
                      <div class="progress-title">
                        Decentralization
                        <span class="progress-amount">68%</span>
                      </div>
                      <div class="progress-bar progress-bar-xs bg-black-10">
                        <div
                          class="progress-percent bg-grad-alt"
                          data-percent="68"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .col  -->
            </div>
            <!-- .row  -->
          </div>
          <!-- .team-profile  -->
        </div>
      </div>
      <!-- .row -->
    </div>
    #}
    <!-- .block @e -->
  </div>
  <div class="nk-ovm shape-r"></div>
</section>
