<section class="section bg-theme-dark-alt tc-light" id="team">
  <div class="background-shape bs-right"></div>
  <div class="container">
    <div class="section-head section-head-s9 wide-md">
      <h6
        class="title title-xs title-s1 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        NUESTRO EQUIPO
      </h6>
      <h2
        class="title title-semibold animated"
        data-animate="fadeInUp"
        data-delay=".2"
      >
        Equipo ejecutivo
      </h2>
      <div class="wide-sm">
        <p class="animated" data-animate="fadeInUp" data-delay=".3">
          La Billetera WIRA incluye equipo técnico experto en desarrollo de
          software blockchain y personas apasionadas por su potencial.
        </p>
      </div>
    </div>
    <!-- Block @s -->
    <div class="nk-block nk-block-left nk-block-team-list team-list">
      <div class="row justify-content-start">
        <div class="col-lg-3 col-sm-6">
          <div
            class="team team-s4 round bg-theme-alt ms-0 animated"
            data-animate="fadeInUp"
            data-delay=".3"
          >
            <div class="team-photo team-photo-s1 round-full">
              <img
                src="/static/images/team/huascar.jpg"
                alt="team"
                class="round-full"
              />
            </div>
            <h5 class="team-name">Huascar Miranda</h5>
            <span class="team-position tc-primary">CEO &amp; Gerente</span>
            <div class="team-desc">
              <p>
                Vasta experiencia en el desarrollo y dirección de proyectos
                blockchain y equipos multidisciplinarios.
              </p>
            </div>
            <ul class="team-social team-social-s2">
              <li>
                <a href="https://www.linkedin.com/in/huascarmiranda"
                  ><em class="fab fa-linkedin-in"></em
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/huascarmm"
                  ><em class="fab fa-twitter"></em
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-3 col-sm-6">
          <div
            class="team team-s4 round bg-theme-alt ms-0 animated"
            data-animate="fadeInUp"
            data-delay=".4"
          >
            <div class="team-photo team-photo-s1 round-full">
              <img
                src="/static/images/team/juanarevalo.jpg"
                alt="team"
                class="round-full"
              />
            </div>
            <h5 class="team-name">Juan Carlos Arévalo</h5>
            <span class="team-position tc-primary"
              >CTO &amp; Líder Backend Blockchain</span
            >
            <div class="team-desc">
              <p>
                Desarrollador full stack especialista backend, con experiencia
                probada en sistemas blockchain.
              </p>
            </div>
            <ul class="team-social team-social-s2">
              <li>
                <a
                  href="https://www.linkedin.com/in/arevalo-ferrufino-juan-carlos-ba0084291"
                  ><em class="fab fa-linkedin-in"></em
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-3 col-sm-6">
          <div
            class="team team-s4 round bg-theme-alt ms-0 animated"
            data-animate="fadeInUp"
            data-delay=".5"
          >
            <div class="team-photo team-photo-s1 round-full">
              <img
                src="/static/images/team/josemendoza.jpg"
                alt="team"
                class="round-full"
              />
            </div>
            <h5 class="team-name">José Mendoza</h5>
            <span class="team-position tc-primary"
              >CTO &amp; Líder Frontend - Blockchain</span
            >
            <div class="team-desc">
              <p>
                Desarrollador full stack especialista en frontend móvil y web,
                con experiencia probada en sistemas blockchain.
              </p>
            </div>
            <ul class="team-social team-social-s2">
              <li>
                <a href="https://www.linkedin.com/in/jose-mendoza-b186202aa"
                  ><em class="fab fa-linkedin-in"></em
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- .col -->
        <!-- <div class="col-lg-3 col-sm-6">
          <div
            class="team team-s4 round bg-theme-alt ms-0 animated"
            data-animate="fadeInUp"
            data-delay=".6"
          >
            <div class="team-photo team-photo-s1 round-full">
              <img
                src="/static/images/team/sq-d.jpg"
                alt="team"
                class="round-full"
              />
            </div>
            <h5 class="team-name">Gabriel Bernal</h5>
            <span class="team-position tc-primary"
              >CEO &amp; Lead Blockchain</span
            >
            <div class="team-desc">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incide.
              </p>
            </div>
            <ul class="team-social team-social-s2">
              <li>
                <a href="#"><em class="fab fa-linkedin-in"></em></a>
              </li>
              <li>
                <a href="#"><em class="fab fa-facebook-f"></em></a>
              </li>
              <li>
                <a href="#"><em class="fab fa-twitter"></em></a>
              </li>
            </ul>
          </div>
        </div> -->
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .block @e -->
    <!-- <div class="nk-block nk-block-left nk-block-team-list team-list">
      <div class="section-head section-head-sm">
        <h2
          class="title-lg-2 title-semibold animated"
          data-animate="fadeInUp"
          data-delay=".7"
        >
          Advisors
        </h2>
      </div>
      <div class="row justify-content-start">
        <div class="col-lg-3 col-sm-6">
          <div
            class="team team-s4 round bg-theme-alt ms-0 animated"
            data-animate="fadeInUp"
            data-delay=".8"
          >
            <div class="team-photo team-photo-s1 round-full">
              <img
                src="/static/images/team/sq-a.jpg"
                alt="team"
                class="round-full"
              />
            </div>
            <h5 class="team-name">Waylon Dalton</h5>
            <span class="team-position tc-primary"
              >CEO &amp; Lead Blockchain</span
            >
            <div class="team-desc">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incide.
              </p>
            </div>
            <ul class="team-social team-social-s2">
              <li>
                <a href="#"><em class="fab fa-linkedin-in"></em></a>
              </li>
              <li>
                <a href="#"><em class="fab fa-facebook-f"></em></a>
              </li>
              <li>
                <a href="#"><em class="fab fa-twitter"></em></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div
            class="team team-s4 round bg-theme-alt ms-0 animated"
            data-animate="fadeInUp"
            data-delay=".9"
          >
            <div class="team-photo team-photo-s1 round-full">
              <img
                src="/static/images/team/sq-b.jpg"
                alt="team"
                class="round-full"
              />
            </div>
            <h5 class="team-name">Stefan Harary</h5>
            <span class="team-position tc-primary"
              >CEO &amp; Lead Blockchain</span
            >
            <div class="team-desc">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incide.
              </p>
            </div>
            <ul class="team-social team-social-s2">
              <li>
                <a href="#"><em class="fab fa-linkedin-in"></em></a>
              </li>
              <li>
                <a href="#"><em class="fab fa-facebook-f"></em></a>
              </li>
              <li>
                <a href="#"><em class="fab fa-twitter"></em></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div
            class="team team-s4 round bg-theme-alt ms-0 animated"
            data-animate="fadeInUp"
            data-delay="1"
          >
            <div class="team-photo team-photo-s1 round-full">
              <img
                src="/static/images/team/sq-c.jpg"
                alt="team"
                class="round-full"
              />
            </div>
            <h5 class="team-name">Moises Teare</h5>
            <span class="team-position tc-primary"
              >CEO &amp; Lead Blockchain</span
            >
            <div class="team-desc">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incide.
              </p>
            </div>
            <ul class="team-social team-social-s2">
              <li>
                <a href="#"><em class="fab fa-linkedin-in"></em></a>
              </li>
              <li>
                <a href="#"><em class="fab fa-facebook-f"></em></a>
              </li>
              <li>
                <a href="#"><em class="fab fa-twitter"></em></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <!-- .block @e -->
  </div>
</section>
