<section
  class="section section-tokensale bg-theme-grad-s2 tc-light ov-h"
  id="tokens"
>
  <div class="container">
    <!-- Block @s -->
    <div class="nk-block nk-block-token">
      <div class="section-head section-head-s3 wide-auto-sm text-center">
        <h6
          class="title title-xs title-xs-s3 tc-primary animated"
          data-animate="fadeInUp"
          data-delay=".1"
        >
          Token
        </h6>
        <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">
          Pre-Sale &amp; Values
        </h2>
        <p class="animated" data-animate="fadeInUp" data-delay=".3">
          ICO Crypto token will be released on the basis of Ethereum and Bitocin
          platform. It’s compatibility of the token with third-party services
          wallets, exchanges etc, and provides easy-to-use integration.
        </p>
      </div>
      <div
        class="row align-items-center justify-content-between gutter-vr-30px"
      >
        <div class="col-lg-6">
          <div class="row gutter-vr-30px">
            <div class="col-sm-6">
              <div
                class="stage-info animated"
                data-animate="fadeInUp"
                data-delay=".4"
              >
                <h6 class="title title-s6 title-xs-s2">Start</h6>
                <p>Feb 8, 2022 (9:00AM GMT)</p>
              </div>
            </div>
            <!-- .col  -->
            <div class="col-sm-6">
              <div
                class="stage-info animated"
                data-animate="fadeInUp"
                data-delay=".5"
              >
                <h6 class="title title-s6 title-xs-s2">
                  Number of tokens for sale
                </h6>
                <p>900,000 ICC (9%)</p>
              </div>
            </div>
            <!-- .col  -->
            <div class="col-sm-6">
              <div
                class="stage-info animated"
                data-animate="fadeInUp"
                data-delay=".6"
              >
                <h6 class="title title-s6 title-xs-s2">End</h6>
                <p>Feb 20, 2022 (11:00AM GMT)</p>
              </div>
            </div>
            <!-- .col  -->
            <div class="col-sm-6">
              <div
                class="stage-info animated"
                data-animate="fadeInUp"
                data-delay=".7"
              >
                <h6 class="title title-s6 title-xs-s2">Tokens exchange rate</h6>
                <p>1 ETH = 650 ICC, 1 BTC = 1940 ICC</p>
              </div>
            </div>
            <!-- .col  -->
            <div class="col-sm-6">
              <div
                class="stage-info animated"
                data-animate="fadeInUp"
                data-delay=".8"
              >
                <h6 class="title title-s6 title-xs-s2">
                  Acceptable currencies
                </h6>
                <p>ETH, BTC, LTC</p>
              </div>
            </div>
            <!-- .col  -->
            <div class="col-sm-6">
              <div
                class="stage-info animated"
                data-animate="fadeInUp"
                data-delay=".9"
              >
                <h6 class="title title-s6 title-xs-s2">
                  Minimal transaction amount
                </h6>
                <p>1 ETH/ 1 BTC/ 1 LTC</p>
              </div>
            </div>
            <!-- .col  -->
          </div>
          <!-- .row  -->
        </div>
        <div class="col-lg-5">
          <div
            class="token-status token-status-s5 bg-grad no-bd round tc-light animated"
            data-animate="fadeInUp"
            data-delay="1"
          >
            <div class="token-box token-box-s3">
              <h4 class="title title-sm">PRE SALE STARTING IN</h4>
              <div
                class="countdown-s3 countdown-s4 countdown"
                data-date="2023/04/27"
              ></div>
            </div>
            <div class="token-action">
              <a
                class="btn btn-md btn-grad btn-grad-alternet btn-round"
                href="#"
                >Join &amp; BUY TOKEN NOW</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-block">
      <div class="row gutter-vr-40px justify-content-center">
        <div class="col-lg-6 col-mb-10">
          <div class="single-chart text-center">
            <h3
              class="title title-lg pdb-l animated"
              data-animate="fadeInUp"
              data-delay=".1"
            >
              Initial Token Distribution
            </h3>
            <div class="chart animated" data-animate="fadeInUp" data-delay=".2">
              <img src="images/azure/chart-k-dark.png" alt="chart" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-mb-10">
          <div class="single-chart text-center">
            <h3
              class="title title-lg pdb-l animated"
              data-animate="fadeInUp"
              data-delay=".3"
            >
              Sale Proceed Allocation
            </h3>
            <div class="chart animated" data-animate="fadeInUp" data-delay=".4">
              <img src="images/azure/chart-l-dark.png" alt="chart" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .block @e -->
  </div>
  <!-- .section-tokensale -->
</section>
