<section class="section bg-theme-alt tc-light" id="token">
  <div class="container">
    <div class="section-head section-head-s9 wide-md">
      <h6
        class="title title-xs title-s1 tc-primary animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        Token
      </h6>
      <h2
        class="title title-semibold animated"
        data-animate="fadeInUp"
        data-delay=".2"
      >
        Token Sale
      </h2>
      <div class="wide-sm">
        <p class="animated" data-animate="fadeInUp" data-delay=".3">
          The tokens will be available for transfer thar is rorem ipsum dolor
          sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <!-- Block @s -->
    <div class="nk-block nk-block-token">
      <div class="row gutter-vr-30px">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-sm-4">
              <div
                class="token-stage text-center bg-theme-dark-alt animated"
                data-animate="fadeInUp"
                data-delay=".4"
              >
                <div class="token-stage-title token-stage-pre">Pre Sale</div>
                <div class="token-stage-date">
                  <h6>3 July 2022</h6>
                  <span>10 Days</span>
                </div>
                <div class="token-stage-info">
                  <span class="token-stage-bonus">30% Bonus</span>
                  <span class="token-stage-cap">Soft Cap</span>
                  <span class="token-stage-amount">$2M</span>
                </div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-sm-4">
              <div
                class="token-stage text-center bg-theme-dark-alt animated"
                data-animate="fadeInUp"
                data-delay=".5"
              >
                <div class="token-stage-title token-stage-one">
                  Sale Stage 1
                </div>
                <div class="token-stage-date">
                  <h6>15 August 2022</h6>
                  <span>15 Days</span>
                </div>
                <div class="token-stage-info">
                  <span class="token-stage-bonus">30% Bonus</span>
                  <span class="token-stage-cap">Soft Cap</span>
                  <span class="token-stage-amount">$2M</span>
                </div>
              </div>
            </div>
            <!-- .col -->
            <div class="col-sm-4">
              <div
                class="token-stage text-center bg-theme-dark-alt animated"
                data-animate="fadeInUp"
                data-delay=".6"
              >
                <div class="token-stage-title">Sale Stage 2t</div>
                <div class="token-stage-date">
                  <h6>28 October 2022</h6>
                  <span>10 Days</span>
                </div>
                <div class="token-stage-info">
                  <span class="token-stage-bonus">10% Bonus</span>
                  <span class="token-stage-cap">Hard Cap</span>
                  <span class="token-stage-amount">$3M</span>
                </div>
              </div>
            </div>
            <!-- .col -->
          </div>
          <!-- row -->
          <div
            class="token-action-box text-center bg-theme animated"
            data-animate="fadeInUp"
            data-delay=".7"
          >
            <div class="token-action-title bg-theme-dark-alt">
              Join Our <br />
              Pre-Sale List
            </div>
            <div class="token-action-date">
              <strong>Pre-Sale Start at</strong> 03 July 2022
            </div>
            <div class="token-action-btn">
              <a href="#" class="btn btn-lg btn-grad">Signup &amp; Join</a>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-5">
          <table
            class="table table-s1 table-token table-token-s1 animated"
            data-animate="fadeInUp"
            data-delay=".8"
          >
            <tbody>
              <tr>
                <td class="table-head table-head-s1">Token Symbol</td>
                <td class="table-des table-des-s1">ICOX</td>
              </tr>
              <tr>
                <td class="table-head table-head-s1">Token Sale Start</td>
                <td class="table-des table-des-s1">3 July 2022</td>
              </tr>
              <tr>
                <td class="table-head table-head-s1">Token Sale End</td>
                <td class="table-des table-des-s1">28 October 2022</td>
              </tr>
              <tr>
                <td class="table-head table-head-s1">Tokens for sale</td>
                <td class="table-des table-des-s1">100,500,000</td>
              </tr>
              <tr>
                <td class="table-head table-head-s1">Specifications</td>
                <td class="table-des table-des-s1">ICOX token</td>
              </tr>
              <tr>
                <td class="table-head table-head-s1">Max circulating supply</td>
                <td class="table-des table-des-s1">175,500,000</td>
              </tr>
              <tr>
                <td class="table-head table-head-s1">Sale duration</td>
                <td class="table-des table-des-s1">10 days</td>
              </tr>
              <tr>
                <td class="table-head table-head-s1">Sale duration</td>
                <td class="table-des table-des-s1">10 days</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .block @e -->
    <!-- Block @s -->
    <div class="nk-block">
      <div class="row gutter-vr-30px">
        <div class="col-lg-6">
          <div class="single-chart">
            <h3
              class="sub-heading-s2 mgb-l title-semibold animated"
              data-animate="fadeInUp"
              data-delay=".1"
            >
              Token Allocation
            </h3>
            <div class="chart animated" data-animate="fadeInUp" data-delay=".2">
              <img src="/static/images/lungwort/chart-a-dark.png" alt="chart" />
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-lg-6">
          <div class="single-chart">
            <h3
              class="sub-heading-s2 mgb-l title-semibold animated"
              data-animate="fadeInUp"
              data-delay=".3"
            >
              Operating Allocation
            </h3>
            <div class="chart animated" data-animate="fadeInUp" data-delay=".4">
              <img src="/static/images/lungwort/chart-a-dark.png" alt="chart" />
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .block @e -->
  </div>
</section>
