<section class="section section-intro bg-white pb-0 ov-h" id="how">
  <div class="container">
    <div class="nk-block nk-block-about">
      <div
        class="row align-items-center justify-content-center justify-content-lg-between gutter-vr-30px"
      >
        <div class="col-lg-6 col-sm-9 pdb-m">
          <div class="nk-block-text text-center text-lg-start">
            <h6
              class="title title-xs title-xs-s3 tc-primary animated"
              data-animate="fadeInUp"
              data-delay=".1"
            >
              Introducción a la Plataforma
            </h6>
            <h2
              class="title title-semibold animated"
              data-animate="fadeInUp"
              data-delay=".2"
            >
              ¿Cómo funciona?
            </h2>
            <p class="lead-s2 animated" data-animate="fadeInUp" data-delay=".3">
              En un contexto donde la confianza en los procesos electorales es
              fundamental, Tu Voto Decide emerge como una solución
              blockchain-based para el monitoreo ciudadano.
            </p>
            <p class="animated" data-animate="fadeInUp" data-delay=".4">
              Esta aplicación permite a los usuarios crear una identidad digital
              soberana integrada con el ecosistema Wira Wallet. Los individuos
              se registran validando su información mediante inteligencia
              artificial, que compara una selfie con datos oficiales. Una vez
              registrada la identidad, los usuarios pueden capturar fotos de
              actas electorales, firmarlas electrónicamente y convertirlas en
              NFTs para asegurar su autenticidad.
            </p>
            <p class="animated" data-animate="fadeInUp" data-delay=".5">
              Otros participantes descargan estas actas para validarlas, y los
              resultados se consolidan en la blockchain, ofreciendo
              transparencia inalterable. El piloto se lanzará en las elecciones
              generales de Bolivia 2025, con énfasis en la segunda vuelta, y se
              expandirá a niveles municipales, nacionales e internacionales para
              instituciones que requieran voto electrónico seguro.
            </p>
          </div>
        </div>
        <div class="col-lg-5 col-sm-9">
          <div
            class="nk-block-video animated"
            data-animate="fadeInUp"
            data-delay=".6"
          >
            <img src="/static/images/azure/gfx-y-light.png" alt="image" />
            <a
              href="https://www.tiktok.com/@asoblokchainbolivia/video/7525082994114088198"
              class="nk-block-video-play video-popup btn-play-wrap btn-play-wrap-s2"
            >
              <div class="btn-play btn-play-sm btn-play-s2">
                <em class="btn-play-icon"></em>
              </div>
              <div class="btn-play-text">Explicación</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- .block @e -->
  </div>
  <!-- .conatiner  -->
</section>
